/* 11월 4일 반응형 작업 css 옮긴것 */
.main-slide {
  display: flex;
  gap: 1.695vw;
  /* 20 / 1180* 100 */
}

/* vw = view width // vh view height */
.main-slide .left {
  /* 770 나누기 1180 곱하기 100 = 65.254 */
  width: 65.254vw;
  max-width: 770px;
  /* vw vh 쓰려면 max로 크기 제한 해주어야 한다. */
  height: 39.83vh;
  max-height: 470px;
}

.visual-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.visual-slide a {
  width: 100%;
  height: 100%;
}
.visual-slide a img {
  width: 100%;
  height: 100%;
}
.main-slide .right {
  /*  370 / 1180 * 100 */
  width: 31.55vw;
  max-width: 370px;
  /* 470 / 1180 * 100 */
  height: 39.83vh;
  max-height: 470px;
}
.card-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.card-slide a {
  width: 100%;
  height: 100%;
}
.card-slide a img {
  width: 100%;
  height: 100%;
}

/* 가로 너비 대비 세로가 평상시에도 변한다. */
/* 11월 4일 반응형 작업 내용 */
/* 상단 영역 */
@media screen and (max-width: 1024px) {
  .main-slide {
    display: block;
    gap: 0;
  }
  .main-slide {
    width: 100%;
  }
  .main-slide .left {
    width: 100%;
    height: 980px;
  }
  .main-slide .right {
    display: none;
    /* .main-slide .right이 1024px 기준 안보이게 한다. 의미 임 */
  }
}
